.advantages__slogan {
  margin-block: 32px 26px;
  text-align: center;
  color: $black;
  font-weight: 700;
}

.advantages__intro {
  padding-inline: 19px;
  text-align: center;
  font-size: 14px;
}

.advantages__bg {
  inline-size: 100%;
  block-size: 37px;
  background-color: $light_blue;
  background-image: url("../../images/white\ copy\ 2.svg");
  background-size: 100% auto;
  background-position: bottom;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  padding-inline: 19px;
  padding-block: 34px 39px;
  text-align: center;
}

.advantages__item:has(+ .advantages__item .advantages__img) {
  padding-inline: 28px;
  background-color: $light_blue;
  color: $white;
}

.advantages__item:has(.advantages__img) {
  padding: 0;
}

.advantages__item--home,
.advantages__item--eat,
.advantages__item--gift {
  position: relative;
  padding-inline-start: 70px;
  padding-block: 13px;
  text-align: start;

  &::before {
    position: absolute;
    content: "";
    background-size: contain;
  }
}

.advantages__item--home {
  padding-block-start: 35px;

  &::before {
    inline-size: 39px;
    block-size: 37px;
    top: 26px;
    left: 21px;
    background-image: url("../../icons/icon-house.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item--gift {
  
  &::before {
    inline-size: 32px;
    block-size: 38px;
    top: 2px;
    left: 25px;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item--eat {
  padding-inline-end: 40px;
  padding-block-end: 35px;

  &::before {
    inline-size: 40px;
    block-size: 35px;
    top: 8px;
    left: 18px;
    background-image: url("../../icons/icon-burger.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item:has(.advantages__number) {
  padding-inline: 32px;
  background-color: #eeeeee;
}

.advantages__title {
  margin-block-end: 10px;
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  margin-block-start: 15px;
}

.advantages__img {
  display: block;  
}