.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
}

.copyright__text { 
  font-size: 14px;
  text-transform: uppercase;  
}

.copyright__icon {
  inline-size: 27px;
  block-size: 35px;
}