.hotel-seach {
  padding-inline: 20px;
  padding-block: 33px 49px;
  text-align: center;
}

.hotel-seach__title {
  margin-block-end: 18px;
  font-size: 21px;
  font-weight: 700;
}

.hotel-seach__text {
  margin-block-end: 27px;
  font-size: 14px;
}