.intro {  
  block-size: 388px;
  position: relative;  
  background-image: url("../../images/intro-triangle.svg"), url("../../images/back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
}

.intro__img {
  display: block;
  position: absolute;
  top: 90px;
  bottom: 85px;
  left: calc((100% - 282px) / 2);
  right: calc((100% - 282px) / 2);
}

