.page-intro {  
  position: relative;
  top: -56px;
  block-size: 214px;
  margin-block-end: -56px;
  background-image: url("../../images/text-page.svg"), url("../../images/intro-page-triangle.svg");    
  background-repeat: no-repeat, no-repeat;
  background-size: 229px 39px, 100% auto;
  background-position: top 108px center, bottom;
}

.page-intro__img {
  position: absolute;
  z-index: -1;  
}

