.page-footer {
  padding-block: 29px 23px;
  text-align: center;
}

.page-footer__teg {
  display: block;  
  margin-block-end: 34px;
  color: inherit;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.page-footer__social {
  margin-block-end: 40px;
}
