.photo__wrapper {
  padding-inline: 20px;  
}

.photo__title {
  margin-block-end: 26px;
  padding-block-start: 32px;
  text-align: center;
  font-weight: 700;
}

.photo__intro {
  margin-block-end: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.photo__list {
  list-style-type: none;
}