.video {
  display: block;
  padding-block-end: 49px;  
}

.video__title {
  margin-block-end: 26px;
  padding-block-start: 32px;
  text-align: center;
  font-weight: 700;
}

.video__intro {
  margin-block-end: 33px;
  padding-inline: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.video__content {
    block-size: 201px;
    background-image: image-set(
      url("../../images/video-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/video-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/video-mobile@1x.jpg") 1x type("image/jpeg"),
      url("../../images/video-mobile@2x.jpg") 2x type("image/jpeg")
      );
}

.video__controls {
position: relative;
padding-inline: 20px;
top: -52px;
margin-block-end: -52px;
}

.video__range-bar {
  block-size: 45px;
  background-color :rgba(0, 0, 0, 0.6)
  }

.video__button-bar {
  block-size: 66px;
  background-color: #f2f2f2;
}