.wrapper {
  min-inline-size: 320px;
  max-inline-size: 520px;
  margin-inline: auto;


  @media (min-width: $tablet-width) {
    min-inline-size: 768px;
    max-inline-size: inherit;
  }

  @media (min-width: $desktop-width) {
    inline-size: 1280px;
  }
}