.wrapper {
  inline-size: 320px;
  margin-inline: auto;


  @media (min-width: $tablet-width) {
    inline-size: 768px;
  }

  @media (min-width: $desktop-width) {
    inline-size: 1200px;
    background-color: $white;   
  }
}